h1 {
  text-align: center;
}

.schema-form {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  gap: 2em;
}

form button {
  align-self: flex-end;
}

.mobile-schema-name {
  margin-bottom: 0.5em;
}

@media screen and (min-width: 900px) {
  .mobile-schema-name {
    display: none;
  }
}
