.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar Button {
  margin-left: 1em;
  margin-right: 1em;
}

.sidebar Button:not(:first-of-type) {
  margin-top: 1.5em;
}
